doctype html
html
  include includes/head
  body

    .container.m-5
      .row
        // Badges
        .col-12.mb-5
          h1
            | Example heading 
            span.badge.bg-secondary New
          h2
            | Example heading 
            span.badge.bg-secondary New
          h3
            | Example heading 
            span.badge.bg-secondary New
          h4
            | Example heading 
            span.badge.bg-secondary New
          h5
            | Example heading 
            span.badge.bg-secondary New
          h6
            | Example heading 
            span.badge.bg-secondary New


        // button with counter + screen reader text
        .col-12.mb-5
          button.btn.btn-primary(type='button')
            | Notifications 
            span.badge.bg-secondary 4
            span.visually-hidden unread messages


        // background colors
        .col-12.mb-5
          span.badge.bg-primary Primary
          span.badge.bg-secondary Secondary
          span.badge.bg-success Success
          span.badge.bg-danger Danger
          span.badge.bg-warning.text-dark Warning
          span.badge.bg-info.text-dark Info
          span.badge.bg-light.text-dark Light
          span.badge.bg-dark Dark


        // pill badges
        .col-12.mb-5
          span.badge.rounded-pill.bg-primary Primary
          span.badge.rounded-pill.bg-secondary Secondary
          span.badge.rounded-pill.bg-success Success
          span.badge.rounded-pill.bg-danger Danger
          span.badge.rounded-pill.bg-warning.text-dark Warning
          span.badge.rounded-pill.bg-info.text-dark Info
          span.badge.rounded-pill.bg-light.text-dark Light
          span.badge.rounded-pill.bg-dark Dark


  
