doctype html
html
  include includes/head
  body

    .container.m-5
      .row
        // border spinners
        .col-12.mb-5
          .spinner-border(role='status')
            span.visually-hidden Loading...



        // colors
        .col-12.mb-5
          .spinner-border.text-primary(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-secondary(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-success(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-danger(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-warning(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-info(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-light(role='status')
            span.visually-hidden Loading...
          .spinner-border.text-dark(role='status')
            span.visually-hidden Loading...



        // growing spinner
        .col-12.mb-5
          .spinner-grow(role='status')
            span.visually-hidden Loading...

          .spinner-grow.text-primary(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-secondary(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-success(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-danger(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-warning(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-info(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-light(role='status')
            span.visually-hidden Loading...
          .spinner-grow.text-dark(role='status')
            span.visually-hidden Loading...



        // aligment
        .col-12.mb-5
          .spinner-border.m-5(role='status')
            span.visually-hidden Loading...



        // placement
        .col-12.mb-5
          .d-flex.justify-content-center
            .spinner-border(role='status')
              span.visually-hidden Loading...

          .d-flex.align-items-center
            strong Loading...
            .spinner-border.ms-auto(role='status' aria-hidden='true')

          .clearfix
            .spinner-border.float-end(role='status')
              span.visually-hidden Loading...

          .text-center
            .spinner-border(role='status')
              span.visually-hidden Loading...



        // size
        .col-12.mb-5
          .spinner-border.spinner-border-sm(role='status')
            span.visually-hidden Loading...
          .spinner-grow.spinner-grow-sm(role='status')
            span.visually-hidden Loading...

          .spinner-border(style='width: 3rem; height: 3rem;' role='status')
            span.visually-hidden Loading...
          .spinner-grow(style='width: 3rem; height: 3rem;' role='status')
            span.visually-hidden Loading...



        // buttons
        .col-12.mb-5
          button.btn.btn-primary(type='button' disabled='')
            span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
            span.visually-hidden Loading...
          button.btn.btn-primary(type='button' disabled='')
            span.spinner-border.spinner-border-sm(role='status' aria-hidden='true')
            |   Loading...

          button.btn.btn-primary(type='button' disabled='')
            span.spinner-grow.spinner-grow-sm(role='status' aria-hidden='true')
            span.visually-hidden Loading...
          button.btn.btn-primary(type='button' disabled='')
            span.spinner-grow.spinner-grow-sm(role='status' aria-hidden='true')
            |   Loading...


